@import "./variables";
@import "./mixin.scss";

.studentField {
  @include Main-Page-sections(right,40px,none);
  position: relative;
  width: 100% !important;
  margin-top: 70px !important;
  @include Student-Page($bg-color)
}

.StudyTitle {
  @include Main-Page-sections(right,40px,none);
  margin-top: 10px !important;
  background-color: $bg-color;
  h3 {
    font-size: 40px;
    font-weight: bold;
    color: #555;
    margin-right: 20px;
  }
  table {
    font-size: 18px;
    font-weight: bold;
  }
}

section.option {
  @include Main-Page-sections(right,70px,none);
  padding-bottom:  0 !important;
  background-color: #f8f8f8;
  z-index: -2;
   h3 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #555;
    margin-right: 20px;
  }
  .images {
    position: absolute;
    bottom: 150px;
    z-index: -1;
  }
  .options {
    margin-top: 40px;
    margin-right: 40px;
  }
  .media {
    margin-bottom: 60px;
      h5 {
    font-size: 30px;
    line-height: 40px;
    color: #141414;
  }
  p {
    font-size: 20px;
    line-height: 20px;
    color: #757474;
  }
  }

}



@media (max-width: 990px) and (min-width: 768px) {
  .studentField{
    .card{
      .card-img{
        height: 100% !important;
      }
    }
  }
  section.option {
    padding: 40px 0 0;
    .options {
      .images{
        bottom: auto;
        top: 0;
      }
    }
    .media {
      margin-bottom: 30px;
      h5{
        font-size: 25px;
      }
      p{
        font-size: 17px;
      }
    }
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  section.option {
    .images {
      bottom: -400px;
    }
    .options {
      margin-bottom: 300px;
    }
  }
}
@media (max-width: 767px){
  section.option{
    .images{
      display: none;
      margin-bottom: 0 !important;
    }
  }
}
@media (max-width: 575px) {
  section.option {
    .images {
      bottom: -400px;
    }
    .options {
      margin-bottom: 300px;
    }
  }
}

@media (max-width: 500px) {
  section.option {
    .options {
      margin-right: 0;
    }
  }
}
